# Arquivos de sistema
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*.so

# Logs e arquivos temporários
*.log
*.pid
*.tmp
*.bak

# Arquivos zipados e binários (exceto o necessário)
*.zip
!simulations/data.zip

*.tar.gz
*.egg-info/
*.sqlite3

# Diretórios internos de dados
.data/
cookies.txt

# Configurações de IDEs
.vscode/
.idea/

# Arquivos específicos do ngrok e cache
/tmp/ngrok.log
/tmp/ngrok_keepalive.*

